.box-container {
  width: 70%;
  height: 70%;
  background-color: rgb(73, 79, 85);
  padding: 5%;
  margin: auto;
  border: 5px solid white;
}

#editor {
  background-color: aliceblue;
  width: 90%;
  height: 200px;
  resize: vertical;
}

body {
  background-color: rgb(26, 26, 26);
  color: white;
  font-family: Barlow;
}

#preview {
  background-color: aliceblue;
  color: black;
  padding: 5px;
  width: 90%;
  height: 90%;
  overflow: scroll;
}

#preview img {
  width: 300px;
  height: 300px;
}